body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #1c1c1c;
  color: #fff;
}

.big-heading {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  padding-left: 9%;
}
.big-heading-span {
  color: #f9db6d;
}

.sub-heading {
  padding-left: 9%;
  font-weight: lighter;
  padding-top: 5%;
  font-size: 2.8rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar .navbar-brand {
  color: #f9db6d !important;
  font-size: 28px;
}

.navbar-nav {
  padding-right: 12%;
  padding-top: 30px;
}

#home-row {
  padding-top: 50px;
}

.navbar-brand {
  padding-left: 5%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2% !important;
}

.nav-link {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-weight: normal;
  color: white !important;
}
.nav-link:hover {
  color: #f9db6d !important;
}

#home {
  background-color: #1c1c1c;
  color: #fff;
  text-align: left;
}

.fixed-top {
  background-color: #1b1b1b;
}

#home .container-fluid {
  padding: 3% 15% 7% 5%;
}

@media screen and (min-width: 1080px) {
  .nav-button {
    padding-left: 10%;
  }
  .nav-button .nav-link {
    color: #1c1c1c !important;
    background-color: #f9db6d;
    border-radius: 30px;
    padding: 10% 50%;
    width: 130px;
    height: 50px;
    text-align: center;
    font-weight: bold;
  }
}

.title-image {
  width: 100%;
  position: absolute;
  right: 20%;
}

.download-button {
  margin: 5% 3% 25% 9%;
  border-radius: 30px !important;
  width: 162px;
  height: 62px;
}
.download-button:hover {
  background-color: #f9db6d !important;
  color: #1c1c1c !important;
}

.navbar .navbar-collapse {
  text-align: center !important;
}

#about-img {
  width: 70%;
  position: absolute;
  left: 10%;
}
